.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    background-color: rgba(171, 172, 172, 0.386);
    top: 0px;
    left: 0px;

}
.window1{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 5;
    top: 30%;
    left: calc(25%);
}