 *{
margin: 0px;
padding: 0px;
box-sizing: border-box;

} 

.main{
  height: 100vh;
  width: calc(100vh-10px);
  padding: 0px 3vw;
  position: relative;
}
@media  (min-width:600px) and (max-width:1536px){
  .main{
    min-height: 100%;
    width: 100%;
    padding: 0px 1vw;
    /* background-color: aqua; */
  }
} 